.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1vh;
    
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
}


.indicators {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: none;
  border: 2px solid black;
  padding: 0;
  cursor: pointer;
}

.dot.active {
  background: black;
}